# see https://github.com/prometheus/blackbox_exporter/blob/master/CONFIGURATION.md
modules:
  # Generic HTTP probe for service health checks
  http_2xx:
    prober: http
    timeout: 10s
    http:
      method: GET
      follow_redirects: true
      preferred_ip_protocol: ip4
      ip_protocol_fallback: true

  # HTTP probe that accepts 2xx and 3xx (redirects to auth)
  http_2xx_3xx:
    prober: http
    timeout: 10s
    http:
      method: GET
      valid_status_codes: [200, 201, 202, 204, 301, 302, 303, 307, 308]
      follow_redirects: false
      preferred_ip_protocol: ip4
      ip_protocol_fallback: true

  coinpoet_cache_updater:
    prober: http

    # how long blackbox-exporter waits (there is another timeout in prometheus for it's probe too)
    timeout: 30s

    http:
      # Accepted status codes for this probe. List between square brackets. Defaults to 2xx.
      #valid_status_codes: []

      # The HTTP method the probe will use.
      method: GET

      # The maximum uncompressed body length in bytes that will be processed. A value of 0 means no limit.
      #
      # If the response includes a Content-Length header, it is NOT validated against this value. This
      # setting is only meant to limit the amount of data that you are willing to read from the server.
      #
      # Justing setting it to _something_ to prevent obscene extremes.
      body_size_limit: 5MB

      follow_redirects: true
      fail_if_ssl: false
      fail_if_not_ssl: false
      # The IP protocol of the HTTP probe (ip4, ip6).
      preferred_ip_protocol: ip4 #<string> | default = "ip6"
      ip_protocol_fallback: true #<boolean> | default = true
