apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - node-exporter-daemonset.yaml
  - node-exporter-service.yaml

labels:
  - pairs:
      app.jimwilleke.com/name: node-exporter
