apiVersion: v1
kind: Service
metadata:
  name: landingpage
  namespace: landingpage
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: landingpage
