resources:
  - ./authorize-prometheus-to-k8s.yaml
  - ./prometheus-statefulset.yaml
  - ./prometheus-service.yaml
  # Certificate handled by ingress annotation instead of separate resource
  # - ./certificate.yaml
  - ./prometheus-ingress.yaml
  - ./authentik-middleware.yaml

secretGenerator:
  - name: prometheus-secrets
    envs:
      # secrets for the prometheus scrape config:
      - .env.secret.prometheus-self-scrape.encrypted

# kustomize help on configMapGenerator: https://kubectl.docs.kubernetes.io/references/kustomize/builtins/#_configmapgenerator_
configMapGenerator:
  - name: prometheus-config
    files:
      - config/prometheus.yaml
      # web.yaml removed - using Authentik ForwardAuth instead of basic auth
      # scrape configs:
      - config/scrape-configs.prometheus.yaml
      # coinpoet and tayle configs removed

labels:
  - pairs:
      # use `app.jimwilleke.com/name` to avoid conflicts with other people's resources using "app" label.
      app.jimwilleke.com/name: prometheus
      # NOTE: tenet is specified in the overlays
      #app.jimwilleke.com/tenant:
